.FiltersPanel {
  width: 300px;
  padding: 12px;
  border: 1px dashed white;
}

.multiselect-filter_title {
  margin: 8px 0px 8px 0px;
  color: white;
}

.multiselect-filter_columns {
  display: flex;
  align-items: flex-start;
}

.multiselect-filter_column {
  min-width: 120px;
}

.multiselect-filter_column_left {
  padding-right: 18px;
}

.filter-checkbox-label {
  margin-left: 12px;
  font-size: 12px;
  color: white;
}

.filter-clause-tag {
  display: flex;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 12px;
  padding: 4px;
  margin: 4px 0 4px;
}
