.FiltersPanel {
  width: 300px;
  padding: 12px;
  border: 1px dashed white;
}

.filter-checkbox-group {
  margin: 8px 0px 8px 0px;
  color: white;
}

.filter-checkbox-group-columns {
  display: flex;
  align-items: flex-start;
}

.filter-checkbox-column {
  min-width: 120px;
}

.filter-checkbox-column_left {
  padding-right: 18px;
}

.filter-checkbox-label {
  margin-left: 12px;
  font-size: 12px;
  color: white;
}
