body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --app-color: #2C2F3A;
  --footer-color: #C9C9C9;
  --mal-color: #2E51A2;
  --accent-color: #94ABE0;
  --hover-bg-color: #404254;
  --btn-hover-bg-color: #CFCFCF;
}

::-webkit-scrollbar {
  width: 8px;
  background: #1C2021;
}

::-webkit-scrollbar-thumb {
  background-color: var(--footer-color);
  border-radius: 6px;
  width: 50%;
}

::-webkit-scrollbar-track {
  width: 8px;
}

.icon-hover {
  &:hover {
    border-radius: 4px;
    background: var(--hover-bg-color);
  }
}
