.app-wrapper {
  background-color: #282c34;
  height: 100vh;
  display: flex;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: calc(100vw - 340px);
}

.app-header {
  display: flex;
  align-items: center;
  height: 72px;
  padding: 12px;
  box-sizing: border-box;
  color: white;
  border: 1px dashed white;
}

.show-section {
  position: relative;
  height: calc(100vh - 72px - 48px);
  width: calc(100vw - 340px);
  padding: 12px;
  box-sizing: border-box;
  overflow-y: scroll;
  color: white;
}

.show-list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
