.app-wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
}

.app-header {
  color: white;
}

.show-section {
  position: relative;
  height: 100vh;
  width: calc(100vw - 300px);
  padding: 12px 12px 48px;
  box-sizing: border-box;
  overflow: scroll;
  color: white;
}
