.pagination-footer_wrapper {
  display: flex;
  align-items: center;
  height: 48px;
  padding:  12px;
  box-sizing: border-box;

  background: lightgray;
}

.pagination-footer_arrow {
  display: flex;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}

.pagination-footer_arrow_right {
  margin: 0 24px 0 12px;
}

.pagination-footer_input {
  width: 40px;
  margin: 0 4px;
}