.pagination-footer_wrapper {
  display: flex;
  align-items: center;
  height: 48px;
  padding:  12px;
  box-sizing: border-box;
  background: var(--footer-color);
  border-top: 1px solid var(--border-color);
}

.pagination-footer_arrow {
  display: flex;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}

.pagination-footer_arrow_right {
  margin: 0 24px 0 12px;
}

.pagination-footer_input {
  width: 48px;
  margin: 0 4px;
}

.pagination-footer_page-btn {
  margin-left: 8px;
  padding: 2px 8px;
  border-radius: 4px;
  background: white;
  border: 1px solid black;
  &:hover {
    cursor: pointer;
    background-color: var(--btn-hover-bg-color);
  };
}